.course{
    display: flex;
    flex-direction: row;
}

table {
    border-spacing: 5px;
    border-top: 2px solid #0f0d0c;
    border-bottom: 2px solid #0f0d0c;
  }

  table tr {
    background-color: rgb(87, 83, 83);
  }

  th{
    margin: 5px;
  }
body {
    margin: 30px;
    color: #ede4dc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(87, 83, 83);
}

.right{
  padding-left: 350px;
}

.feedback{
  color: red;
}

.hidden {
  display: none;
}

.label-input {
  display: flex;
}

.input {
  align-self: flex-end;
  padding-bottom: 10px;

}

.label {
  width: 180px;
  align-self: flex-start;
  padding-bottom: 10px;
}

.confirmation-row{
  display: flex;
  flex-direction: row;
}

.conf{
  padding-top: 10px;
  align-items: flex-end;
}
